body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  padding-top: 80px;
  margin: 0;
  background: linear-gradient(90deg, #fff, #c7c7c7);
}

.header {
  border-bottom: 1px solid #000;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 5px #0000001a;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  inline-size: 50%;
  min-inline-size: 700px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin: 0;
  padding-inline-start: 0;
}

.navigation-list__item {
  margin-inline-start: 40px;
}

.navigation-list__link {
  display: inline-block;
  padding-block: 24px;
  text-decoration-line: none;
  color: #000;
}

.navigation-list__link:hover {
  padding-bottom: 20px;
  border-bottom: 4px solid currentColor;
  color: #000;
}

.main__header {
  display: flex;
  justify-content: center;
  gap: 10vw;
  margin: 10px;
  height: 100vh;
}

.main__header-left-block {
  width: 500px;
  margin-top: 15vh;
}

.main__header-text {
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 0;
}

.main__under-header-text {
  font-size: 17px;
  color: #696868;
}

.main__testing-application-form-button {
  background: linear-gradient(135deg, #9c3ff8, #8000ff);
  border-radius: 12px;
  width: 300px;
  height: 50px;
  text-align: center;
}

.main__testing-application-form-ref {
  display: block;
  text-decoration-line: none;
  color: #fff;
  padding: 5%;
}

.main__header-right-block {
  background-color: #fff;
  padding: 10px 10px 20px 10px;
  border-radius: 12px;
  box-shadow: 0 4px 12px #00000048;
  height: 210px;
  width: 400px;
  margin-top: 25vh;
}

.message {
  font-size: 16px;
  padding: 25px;
  border-radius: 12px;
  width: 300px;
}

.user-message {
  color: #fff;
  background: linear-gradient(135deg, #9c3ff8, #8000ff);
  float: right;
}

.bot-message {
  background-color: #d4d4d4;
  margin-top: 120px;
}


.main__problem-solution-container {
  display: flex;
  justify-content: space-around;
  margin: 100px 0;
}

.block {
  width: 500px;
  padding: 5px 25px;
  border-radius: 12px;
  box-shadow: 0 4px 12px #0000001a;
  transition: transform 0.3s, box-shadow 0.3s;
}

.block:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.main__problem {
  background: #fff;
  border: 2px solid #ff5252;
}

.main__solution {
  background: linear-gradient(135deg, #9c3ff8, #8000ff);
  color: white;
  border: 2px solid #fff;
}

h2 {
  margin: 20px;
}

.main__product-advantages {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 30px;
}

.main__advantage-card {
  min-width: 350px;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  flex: 1;
}

.main__comparison {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  color: #000;
  text-align: center;
}

.main__comparison div {
  border: 1px dashed #8000ff;
  padding-top: 5px;
}

.table-header {
  background-color: #e0c188;
  color: #8000ff;
  font-weight: bold;
}

.main__comparison .advantage {
  background-color: #aee7ae;
  color: #8000ff;
}

.main__comparison .disadvantage {
  background-color: #ebc6c6;
  color: #f00;
}

.main__about-team {
    position: relative;
    padding: 10px 30px;
    border-left: 5px solid #8000ff;
    border-bottom: 5px solid #8000ff;
    border-right: 5px solid #8000ff;
    border-radius: 0 0 15px 15px;
    margin: 50px 30px 20px;
}
.main__about-team-header {
    display: flex;
    position: absolute;
    align-items: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 22px;
    line-height: 25px;
    font-weight: bold;
    text-transform: uppercase;
    transform: translateY(-190%);
}
.main__about-team-header:before {
    content: "";
    flex: 1;
    height: 15px;
    margin-right: 15px;
    border-top: 5px solid #8000ff;
    border-left: 5px solid #8000ff;
    border-radius: 15px 0;
    transform: translateX(-5px);
}
.main__about-team-header:after {
    content: "";
    flex: 1;
    height: 15px;
    margin-left: 15px;
    border-top: 5px solid #8000ff;
    border-right: 5px solid #8000ff;
    border-radius: 0 15px;
    transform: translateX(5px);
}

.main__team-member-cards {
  display: flex;
  gap: 20px;
}

.main__team-member-card {
  flex: 1;
  text-align: center;
}

.main__team-member-photo {
  border-radius: 50%;
}